body {
  font-family: Arial;
  background: #f4f6f9;
  text-align: center;
}

.metrics {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

canvas {
  margin-top: 30px;
}
