body {
  font-family: Arial;
  background: #f4f6f9;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  font-size: 18px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
